.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(237, 206, 237);
}
.lottie-container {
  height: 350px;
  width: 350px;
}

.centered {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 150px;
}

.my-button {
  margin-top: 500px;
}
